/********region @media ********/
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      /* Address */
      #address {
          display: none;
      }
      /* Lead */
      body > #info.container > #lead.mobile {
          height: 100px;
          display: block;
          padding-left: 40px;
          background-color:aliceblue;
      }
      /* Map */
      body > #info.container > #mapWrapper > #map-canvas{
          height: inherit;
      }
      body > #info.container > #mapWrapper {
          height: 200px;
          padding: 0px;
      }
      /* Container */
      #info.container {
          padding: 0px;
      } 
      #info.container > h1 {
          width: 100%;
          margin: 0px;
      }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
/******** endregion ********/

/******Adress******/
#address {
    height: 500px;
}
#lead.mobile {
    display: none;
}
/******Contact******/
#info.container > #address {
    background-color: aliceblue;
}
#address.col-sm-12 {
    height: auto;
}
/******Map******/
#map-canvas{
    width: 100%;
    height: 500px;
}
