/******** Fonts ********/
@font-face{
    font-family: bebasNeue;
    src: url('../fonts/BebasNeue.otf');
}
/******** Everything ********/
*{
    margin:0;
}
/******** Body ********/
body{
    background-color: #F3F3F2;   
}
/******** Title ********/
#title{
    background-color: #95AFBA;
/*    font-family: sans-serif;*/
    margin: auto;
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
#title h1:only-of-type{
    color: white;
    position: relative;
    text-align: center;
    line-height: 100px;
}


/******** Arrow ********/

#arrow{
    height: 40px;
    width: 40px;
    background-color: #95B2C1;
    color: white;
    position: fixed;
    top: 50%;
    left: 40px;
}

.arrow{
    font-size: 40px;
    position: absolute;
    top: -10px;
    left: 8px;
}

#arrow:hover > #portal{
    width: 100px;
}

#portal{
    background-color: #95B2C1;
    height: 340px;
    width: 20px;
    position: fixed;
    top: 30%;
    left: 0px;
    transition: width 2s;
}

#arrow:hover #links{
    opacity: 1;
    transform: translateX(8px);
}

/******** Links ********/
#links{
    width: 40px;
    height: 280px;
    position: absolute;
    top: 30px;
    right: 40px;
    opacity: 0;
    transition: 3s;
    font-family: sans-serif;
    color: white;  
}

.linkLetter{
    font-size: 30px;
    position: absolute;
    top: 2px;
    left: 7px;
}
.text{
    position: absolute;
    top: 0px;
    left: 2px;
}

/******** Links - Home ********/
#h{
    height: 40px;
    width: 40px;
    background-color: gray;
    position: absolute;
    color: white;
}
#h:hover > .homeA{
    opacity: 1;
}
.homeA{
    height: 16px;
    width: 53px;
    background-color: gray;
    position: absolute;
    top: 10px;
    left: 50px;
    opacity: 0;
}

/******** Links - Contact ********/
#c{
    height: 40px;
    width: 40px;
    background-color: gray;
    position: absolute;
    top: 60px;
    color: white;
}
.contact{
    height: 16px;
    width: 83px;
    background-color: gray;
    position: absolute;
    top: 10px;
    left: 50px;
    opacity: 0;
}
#c:hover > .contact{
    opacity: 1;
}

/******** Links - Stand Down ********/
#s{
    height: 40px;
    width: 40px;
    background-color: gray;
    position: absolute;
    top: 120px;
    color: white;
}
.standDown{
    height: 16px;
    width: 115px;
    background-color: gray;
    position: absolute;
    top: 10px;
    left: 50px;
    color: white;
    opacity: 0;
}
#s:hover > .standDown{
    opacity: 1;
}

/******** Links - Memorial ********/
#m{
    height: 40px;
    width: 40px;
    background-color: gray;
    position: absolute;
    top: 180px;
    color: white;
}
.memorial{
    height: 16px;
    width: 92px;
    background-color: gray;
    position: absolute;
    top: 10px;
    left: 50px;
    color: white;
    opacity: 0;
}
#m:hover > .memorial{
    opacity: 1;
}

/******** Links - Pictures ********/
#p{
    height: 40px;
    width: 40px;
    background-color: gray;
    position: absolute;
    top: 240px;
    color: white;
}
.pictures {
    height: 16px;
    width: 86px;
    background-color: gray;
    position: absolute;
    top: 10px;
    left: 50px;
    color: white;
    opacity: 0;
}
#p:hover > .pictures{
    opacity: 1;
}

/******** Content ********/
#textBox{
    height: 60%;  
    width: 60%;
    background-color: red;
    position: fixed;
    left: 20%;
    top: 20%;
    background-color: #95AFBA;
}
#textbox .container-fluid .jumbotron {
    background-color: inherit;   
}
/******** Footer ********/
#footer{
    background-color: #96B6CB;
    position: fixed;
    bottom: 0%;
    height: 30px;
    width: 100%;
}