/** HTML **/
html {
    width: 100%;
    height: 100%;
}
/** Body **/
body {
    width: 100%;
    height: 100%;
    background-color: white;
}
/** General **/
.section {
    margin: auto;
    text-align: center;
}
/** Header **/
#header {
    position: fixed;
    top: 0px;
    height: 75px;
    width: 100%;
    margin: 0px;
    z-index: 1000;
    background: linear-gradient(to bottom,#F2F2F2 0,#FFFFFF 100%);
    border-bottom: 1px solid rgba(162,188,19,.639);
}
/** Links **/
.links {
    float: left;
    margin-left: 20px;
    color: rgba(162,188,19,.639);
}
#logo {
    float: right;
    margin-right: 30px;
    color: rgba(162,188,19,.639);   
}
/** Welcome **/
#welcome {
    margin-top: 75px;
    height: 400px;
    width: 100%;
    line-height: 400px;
    font-size: 70px;
    padding-left: 40px;
    padding-right: 40px;
    color: #FEFBF7;
    background-color: rgba(162,188,19,.639);
}
/** Memorial Front Picture **/
#mFront {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#picture > img.img-responsive {
    margin: -75px 0px 0px 0px;   
}
/** Home **/
#home {
    height: 650px;
    width: 100%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(162,188,19,.639);
}
#home > h1 {
    color: white;   
}
#home > #hContent.container {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    height: 500px;
    width: 100%;
}
#home > #hContent.container > #pictures > img {
    height: 225px;
    width: 100%;
    overflow: hidden;
}
/** Info **/
#info {
    height: 700px;
    widows: 100%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: rgba(162,188,19,.639);
    background-color: FEFBF7;
}
#info > #army {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    height: 500px;
    width: 100%;
    background-color: aquamarine;   
}