/** iPhone Size **/
@media (min-device-width: 320px) 
  and (max-device-width: 568px) {
    /** Header **/
    #header.mobile  *.mobile {
        display: block;   
    }
    #header.mobile {
        height: 50px;  
        color: #666;
    }
    #header > *.computer {
        display: none;
    }
    #header > a > *.computer {
        display: none;
    }
    #header.mobile > h3 {
        width: 100%;
        text-align: center;
        color: white;
    }
    /** Nav **/
    nav.mobile > ul {
        display: none;
        padding: 0;
        overflow: hidden;
        text-align: center;
        color: white;
        background-color: #000005;
    }
    nav.mobile > ul > li {
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        display: block;
    }
    /** Dropdown **/
    #dropDown {
        position: fixed;
        left: -285px;  
        margin: 0px;
        margin-top: -50px;
        display: block;
        height: 100%;
        width: 285px;
        background-color: #666;
    }
    #dropDown.mobile > a > *.mobile {
        display: block;
        font-size: 20%;
    }
    .links {
        color: white;
    }
    .links > h2 {
        font-size: 10em;
    }
    /** Welcome **/
    #welcome {
        margin-top: 50px;
        height: auto;
        line-height: 20px;
    }
    #welcome > p {
        font-size: 20px;
    }
    /** Contact **/
    #contact > #hContent > * > h3 {
        display: none;   
    }
    #contact > #hContent > * > a > h3 {
        display: none;
    }
    #contact > #hContent {
        margin-top: 0px;
    }
    #contact > #hContent > * > a > img {
        margin-top: 20px;
    }
}