/******** Everything ********/
*{
    margin:0;
    border-sizing: border-box;
}
/******** Fonts ********/
@font-face{
    font-family: "marketDeco";
    src: url('fonts/Market_Deco.ttf');
}
/******** Body ********/
body{
    background-color:#E9EFEA;   
}
/******** Header ********/
#upperHeader{
    width: 100%;
    height: 40px;
    background-color:#32352B;
}
#lowerHeader{
    width: 100%;
    height: 70px;
    background-color:#AAADC4;
    
}
/******** Title ********/
 #title{
     font-family: "marketDeco";
     color: white;
 }